Data Cleaning

In [1]:
#Import Libraries
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import os

#regex
import re

In [2]:
#Create a dataframe from csv file
cwd = os.getcwd()
df = pd.read_csv(cwd + "/BA_dataset.csv", index_col=0)

In [3]:
df.head()

,reviews,stars,date,country
0,✅ Trip Verified | An airline that lives in the...,\n\t\t\t\t\t\t\t\t\t\t\t\t\t5,26th July 2023,Qatar
1,✅ Trip Verified | Check-in Desk rude and dism...,1,26th July 2023,United Kingdom
2,✅ Trip Verified | I chose British Airways espe...,2,25th July 2023,Spain
3,Not Verified | I booked Premium Economy from I...,1,24th July 2023,United Kingdom
4,✅ Trip Verified | A simple story with an unfor...,1,21st July 2023,Germany

In [4]:
#Create a column which identifies if the user is verified or not
df['verified'] = df.reviews.str.contains("Trip verified")
df['verified']

0       False
1       False
2       False
3       False
4       False
        ...
3495    False
3496    False
3497    False
3498    False
3499    False
Name: verified, Length: 3500, dtype: bool

In [5]:
df.head()

,reviews,stars,date,country,verified
0,✅ Trip Verified | An airline that lives in the...,\n\t\t\t\t\t\t\t\t\t\t\t\t\t5,26th July 2023,Qatar,False
1,✅ Trip Verified | Check-in Desk rude and dism...,1,26th July 2023,United Kingdom,False
2,✅ Trip Verified | I chose British Airways espe...,2,25th July 2023,Spain,False
3,Not Verified | I booked Premium Economy from I...,1,24th July 2023,United Kingdom,False
4,✅ Trip Verified | A simple story with an unfor...,1,21st July 2023,Germany,False

In [8]:
import nltk
nltk.download()
#change the server index to: http://www.nltk.org/nltk_data/

showing info https://raw.githubusercontent.com/nltk/nltk_data/gh-pages/index.xml
showing info http://www.nltk.org/nltk_data/

Exception in Tkinter callback
Traceback (most recent call last):
  File "C:\Users\tania\anaconda3\lib\tkinter\__init__.py", line 1892, in __call__
    return self.func(*args)
  File "C:\Users\tania\anaconda3\lib\site-packages\nltk\downloader.py", line 1782, in _download
    return self._download_threaded(*e)
  File "C:\Users\tania\anaconda3\lib\site-packages\nltk\downloader.py", line 2068, in _download_threaded
    assert self._download_msg_queue == []
AssertionError
Exception in Tkinter callback
Traceback (most recent call last):
  File "C:\Users\tania\anaconda3\lib\tkinter\__init__.py", line 1892, in __call__
    return self.func(*args)
  File "C:\Users\tania\anaconda3\lib\site-packages\nltk\downloader.py", line 1782, in _download
    return self._download_threaded(*e)
  File "C:\Users\tania\anaconda3\lib\site-packages\nltk\downloader.py", line 2068, in _download_threaded
    assert self._download_msg_queue == []
AssertionError

True

In [9]:
import nltk
nltk.download('stopwords')

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\tania\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

True

In [10]:
nltk.download('wordnet')

[nltk_data] Downloading package wordnet to
[nltk_data]     C:\Users\tania\AppData\Roaming\nltk_data...
[nltk_data]   Package wordnet is already up-to-date!

True

In [11]:
#Cleaning the reviews column
#We will use NLTK library
from nltk.stem import WordNetLemmatizer
from nltk.corpus import stopwords
lemma = WordNetLemmatizer()

#The strip() method removes any leading, and trailing whitespaces
reviews_data =  df.reviews.str.strip("✅ Trip Verified |")

#Create an empty list to collect cleaned data corpus
corpus = []

#Removing un-necessary words, chars, punctuations and then joining them 
for rev in reviews_data:
    rev = re.sub('[^a-zA-Z]',' ', rev)
    rev = rev.lower()
    rev = rev.split()
    rev = [lemma.lemmatize(word) for word in rev if word not in set(stopwords.words("english"))]
    rev = " ".join(rev)
    corpus.append(rev)

In [12]:
#add the corpus to the original framework
df['corpus'] = corpus

In [13]:
df.head()

,reviews,stars,date,country,verified,corpus
0,✅ Trip Verified | An airline that lives in the...,\n\t\t\t\t\t\t\t\t\t\t\t\t\t5,26th July 2023,Qatar,False,airline life past glory heading future crisis ...
1,✅ Trip Verified | Check-in Desk rude and dism...,1,26th July 2023,United Kingdom,False,check desk rude dismissive flight late seems n...
2,✅ Trip Verified | I chose British Airways espe...,2,25th July 2023,Spain,False,chose british airway especially going travel n...
3,Not Verified | I booked Premium Economy from I...,1,24th July 2023,United Kingdom,False,verified booked premium economy inv lax via lh...
4,✅ Trip Verified | A simple story with an unfor...,1,21st July 2023,Germany,False,simple story unfortunate outcome really could ...

Formating

In [14]:
df.dtypes

reviews     object
stars       object
date        object
country     object
verified      bool
corpus      object
dtype: object

In [15]:
#Convert date to datetime format
df.date = pd.to_datetime(df.date)

In [16]:
df.date.head()

0   2023-07-26
1   2023-07-26
2   2023-07-25
3   2023-07-24
4   2023-07-21
Name: date, dtype: datetime64[ns]

Cleaning Ratings

In [17]:
#Check for unique values of ratings
df.stars.unique()

array(['\n\t\t\t\t\t\t\t\t\t\t\t\t\t5', '1', '2', '4', '8', '9', '3',
       '10', '7', '5', '6', 'None'], dtype=object)

In [18]:
#removing the unwanted
df.stars = df.stars.str.strip("\n\t\t\t\t\t\t\t\t\t\t\t\t\t")

In [19]:
df.stars.unique()

array(['5', '1', '2', '4', '8', '9', '3', '10', '7', '6', 'None'],
      dtype=object)

In [20]:
df.stars.value_counts()

1       804
2       401
3       393
8       347
10      302
7       294
9       293
5       250
4       240
6       171
None      5
Name: stars, dtype: int64

In [21]:
#droping "None" from 5 columns
df.drop(df[df.stars=="None"].index, axis=0, inplace=True)

In [22]:
df.stars.unique()

array(['5', '1', '2', '4', '8', '9', '3', '10', '7', '6'], dtype=object)

Check for NULL value

In [23]:
df.isnull().value_counts()

reviews  stars  date   country  verified  corpus
False    False  False  False    False     False     3493
                       True     False     False        2
dtype: int64

In [24]:
#2 rows have null values in country column
#Remove those
df.drop(df[df.country.isnull()==True].index, axis=0, inplace=True)

In [25]:
df.isnull().value_counts()

reviews  stars  date   country  verified  corpus
False    False  False  False    False     False     3493
dtype: int64

In [26]:
df.shape

(3493, 6)

In [27]:
#resetting the index column
df.reset_index(drop=True)

,reviews,stars,date,country,verified,corpus
0,✅ Trip Verified | An airline that lives in the...,5,2023-07-26,Qatar,False,airline life past glory heading future crisis ...
1,✅ Trip Verified | Check-in Desk rude and dism...,1,2023-07-26,United Kingdom,False,check desk rude dismissive flight late seems n...
2,✅ Trip Verified | I chose British Airways espe...,2,2023-07-25,Spain,False,chose british airway especially going travel n...
3,Not Verified | I booked Premium Economy from I...,1,2023-07-24,United Kingdom,False,verified booked premium economy inv lax via lh...
4,✅ Trip Verified | A simple story with an unfor...,1,2023-07-21,Germany,False,simple story unfortunate outcome really could ...
...,...,...,...,...,...,...
3488,We travelled to and from Europe in business cl...,8,2014-06-17,Canada,False,travelled europe business class two week medit...
3489,BKK to LHR in club world 777-200 seat 3E and 3...,6,2014-06-16,United Kingdom,False,bkk lhr club world seat e f june th fly ba lot...
3490,Recently travelled LHR to San Francisco and re...,10,2014-06-16,United Kingdom,False,recently travelled lhr san francisco returned ...
3491,LHR-Belfast-LHR over a weekend. Ground staff a...,1,2014-06-16,United Kingdom,False,lhr belfast lhr weekend ground staff flight at...
3492,I flew LHR-YVR outwards 20th May 2014 on 747. ...,8,2014-06-16,United Kingdom,False,flew lhr yvr outwards th may cabin newly fitte...

In [28]:
#Export the clean dataset
df.to_csv(cwd + "/Cleaned_BA_Dataset.csv")