Data Cleaning

In [2]:
#Import Libraries
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import os

#regex
import re

In [3]:
#Create a dataframe from csv file
cwd = os.getcwd()
df = pd.read_csv(cwd + "/BA_dataset.csv", index_col=0)

In [4]:
df.head()

,reviews,stars,date,country
0,✅ Trip Verified | An airline that lives in the...,\n\t\t\t\t\t\t\t\t\t\t\t\t\t5,26th July 2023,Qatar
1,✅ Trip Verified | Check-in Desk rude and dism...,1,26th July 2023,United Kingdom
2,✅ Trip Verified | I chose British Airways espe...,2,25th July 2023,Spain
3,Not Verified | I booked Premium Economy from I...,1,24th July 2023,United Kingdom
4,✅ Trip Verified | A simple story with an unfor...,1,21st July 2023,Germany

In [5]:
#Create a column which identifies if the user is verified or not
df['verified'] = df.reviews.str.contains("Trip verified")
df['verified']

0       False
1       False
2       False
3       False
4       False
        ...
3495    False
3496    False
3497    False
3498    False
3499    False
Name: verified, Length: 3500, dtype: bool

In [6]:
df.head()

,reviews,stars,date,country,verified
0,✅ Trip Verified | An airline that lives in the...,\n\t\t\t\t\t\t\t\t\t\t\t\t\t5,26th July 2023,Qatar,False
1,✅ Trip Verified | Check-in Desk rude and dism...,1,26th July 2023,United Kingdom,False
2,✅ Trip Verified | I chose British Airways espe...,2,25th July 2023,Spain,False
3,Not Verified | I booked Premium Economy from I...,1,24th July 2023,United Kingdom,False
4,✅ Trip Verified | A simple story with an unfor...,1,21st July 2023,Germany,False

In [11]:
import nltk
nltk.download('stopwords')
nltk.download('wordnet')

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\tania\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!
[nltk_data] Downloading package wordnet to
[nltk_data]     C:\Users\tania\AppData\Roaming\nltk_data...

True

In [12]:
#Cleaning the reviews column
#We will use NLTK library
from nltk.stem import WordNetLemmatizer
from nltk.corpus import stopwords
lemma = WordNetLemmatizer()

#The strip() method removes any leading, and trailing whitespaces
reviews_data =  df.reviews.str.strip("✅ Trip Verified |")

#Create an empty list to collect cleaned data corpus
corpus = []

#Removing un-necessary words, chars, punctuations and then joining them 
for rev in reviews_data:
    rev = re.sub('[^a-zA-Z]',' ', rev)
    rev = rev.lower()
    rev = rev.split()
    rev = [lemma.lemmatize(word) for word in rev if word not in set(stopwords.words("english"))]
    rev = " ".join(rev)
    corpus.append(rev)

In [13]:
#add the corpus to the original framework
df['Cleaned_reviews'] = corpus

In [14]:
df.head()

,reviews,stars,date,country,verified,corpus
0,✅ Trip Verified | An airline that lives in the...,\n\t\t\t\t\t\t\t\t\t\t\t\t\t5,26th July 2023,Qatar,False,airline life past glory heading future crisis ...
1,✅ Trip Verified | Check-in Desk rude and dism...,1,26th July 2023,United Kingdom,False,check desk rude dismissive flight late seems n...
2,✅ Trip Verified | I chose British Airways espe...,2,25th July 2023,Spain,False,chose british airway especially going travel n...
3,Not Verified | I booked Premium Economy from I...,1,24th July 2023,United Kingdom,False,verified booked premium economy inv lax via lh...
4,✅ Trip Verified | A simple story with an unfor...,1,21st July 2023,Germany,False,simple story unfortunate outcome really could ...